

<h2><%= trainer.name %></h2>
<img src="<%= trainer.url %>" />
<div class="row">
  <h3 class="col l10"><%= trainer.name %></h3>
  <div class="col l2">
    <form action="/trainers/<%= trainer.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn red">Delete</button>
    </form>
  </div>
</div>

<a href="/trainers/<%= trainer.id %>/edit"><button class='btn orange'>Edit Trainer</button></a>
